
/* line-1 */

.bangladesh-1{ 
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px 0px 200px ;
}
.btn-primary{
    color: green;
    font-size: 20px;
    border-color: green;
    border-radius: 5px;
}
/* line-2 */
.size{
   color: rgb(175, 177, 183);
    font-size:20px ;
    
}
.font-size{
    font-size: 40px;
   
}
.btn-color{
    color: white;
    background-color: green;
    font-size: 20px;
    border-color: green;
    text-color:green;
    border-radius: 5px;
}
.bangladesh-2{
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    margin: 0px 200px 0px 200px ;
    border-radius: 16px;
    padding: 35px;
}
/* line-3 */

.bold{
    font-size: 35px;
    font-weight:bold;
    margin: 50px 0px 50px 0px ;
   
}
.skills-container{
    display: flex;
    gap:40px
}
.skill{
    padding: 30px;
    box-shadow: 0 auto;
    background-color: aliceblue;
   box-shadow: whitesmoke;
   border-radius: 16px;
}
.bangladesh-3{
    margin: 0px 200px 0px 200px ;
    border-radius: 16px;

}
/* line-4 */

.skills-text{
    display: flex;
    gap:40px;
 
}
.icon{
    padding: 30px;
    box-shadow: 0 auto;
    background-color: aqua;
}
.bangladesh-4{
    margin: 0px 200px 0px 200px ;
    border-radius: 16px;
}

.btn1-text{
    color: white;
    background-color:dodgerblue;
    font-size: 20px;
    border-color:darkviolet;
    border-radius: 5px;
    border-radius: darkviolet;
}
.btn2-text{
    color: white;
    background-color:green;
    font-size: 20px;
    border-color: darksalmon;
    border-radius: 5px;
    border-radius:  darksalmon;
}
.btn3-text{
    color: white;
    background-color:firebrick;
    font-size: 20px;
    border-color:chocolate;
    border-radius: 5px;
    border-radius:chocolate ;
}
.icon1{
    background-color: darkviolet;
    padding: 30px;
    border-radius: 16px;
}
.icon2{
    background-color: darksalmon;
    padding: 30px;
    border-radius: 16px;

}
.icon3{
    background-color:chocolate;
    padding: 30px;
    border-radius: 16px;
}
/* line-5 */
.Dr-Muhammad{
    margin: 100px 200px 100px 200px ;
    background-color:whitesmoke;
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    width: 1250px;
    height: 200px;
    padding: 5px;
    border-radius: 16px;
   
 
}

.new{
    margin: 0px 200px 0px 200px ;
  
} 
/* line-7 */
.bangladesh-satelite{
    display: flex;
    gap: 40px;
}
.bangladesh-satelite1{
    margin: 0px 200px 100px 200px ;
    background-color: #ddd;
    border-radius: 16px;
}
.bangladesh-satelite2{
    margin: 0px 200px 0px 200px ;
    background-color: #ddd;
    padding: 25px;
    border: 40px;
    border-radius: 16px;
}
.bangladesh{
    display: flex;
}
.bangladesh-satelite-text{
    display: flex;
    gap:40px
}
.bangladesh-satelite3{
    margin: 100px 200px 100px 200px ;
    background-color: #ddd;
    border-radius: 16px;
}

/* line-8 */
.taka{
    text-align: center;
   
}
.taka-number{
    padding: 25px;
    display: flex;
    gap:30px;
    justify-content: space-evenly;
  
  
}
.number{
    border: 2px solid black;
    padding: 20px;
    font-size:18px;
    margin: 10px 0;
    display: inline;
    background-color: aquamarine;
}

.amount{
    text-align: center;
    
}
.btn{
    width: 830px;
    height: 50px;
    background-color: white;
    font-size: 15px;
    font: 400;
}
.done{
   text-align: center;
   padding: 25px;
}
.bangladesh-5{
    margin: 0px 200px 0px 200px ;
}
.color1{
    background-color: rgb(234, 14, 14);
}
/* line-9 */
.search{
    text-align: center;
    background-color: rgb(138, 238, 205);
    margin: 0px 200px 0px 200px ;
    gap: 0px;
    border-radius: 16px;

}
.search1{
    text-align: center;
    gap:0px;
    padding: 10px;
    border-radius: 10px;
}
.news{
    background-color: green;
}
/* limne-10 */

.images{
    text-align: center;
    background-color: whitesmoke;
    margin: 0px 200px 0px 200px;
    gap:20px;
    border-radius: 16px;
}